.header h1 {
    font-size: 30px;
    text-align: center;
}

.header p {
    font-size: 15px;
    text-align: center;
    margin-bottom: 40px;
}




.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gu img {
    width: 200px;
}

.gu img:hover {
    transform: scale(1.5, 1.5);
}


.cho img {
    width: 200px;
}

.cho img:hover {
    transform: scale(1.5, 1.5);
}

.par img {
    width: 200px;
}

.par img:hover {
    transform: scale(1.5, 1.5);
}




.text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 50px 100px;
}

.text h1 {
    width: 150px;
    margin-top: 0px;
}

.youbox {
    margin: 20px 200px;
    text-align: center;
}

.you_img {
    display: none;
    width: 400px;
}

.mebox {
    margin: 20px 200px;
    text-align: center;
}

.me_img {
    display: none;
    width: 400px;
}

.result {
    text-align: center;
    margin: 10px 0px 30px;
}



.footer {
    background-color: rgb(121, 104, 226);
    border-bottom: 1px solid rgb(208, 13, 13);
    text-align: center;
}



li {
    text-align: center;
    list-style-type: none;
    border: 1px solid #666;
    background-color: #FFF;
    display: table-cell;
    /* 定義 */
    cursor: pointer;
}

li:hover {
    background: #0066CC;
    color: #fff;
}