/* 最初はぐ〜！
https://baigie.me/officialblog/2021/02/25/css-tips-1/　*/

body {
    background-image: url(/背景２.jpeg)
}


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.header {
    display: flex;
    height: 130px;
    justify-content: center;
    align-items: center;
    margin: 0;
}


.title {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
}

.title span {
    display: block;
    transform: translate(0, 120%);
    transition-duration: 1s;
}

.title.-visible span {
    transform: translate(0, 0);
}

.title span:nth-child(2) {
    transition-delay: 0.06s;
}

.title span:nth-child(3) {
    transition-delay: 0.12s;
}

.title span:nth-child(4) {
    font-size: 50px;
    transition-delay: 0.18s;
}

.title span:nth-child(5) {
    transition-delay: 0.24s;
}

.title span:nth-child(6) {
    transition-delay: 0.30s;
}

.title span:nth-child(7) {
    transition-delay: 0.36s;
}

.title span:nth-child(8) {
    transition-delay: 0.42s;
}

.title span:nth-child(9) {
    transition-delay: 0.48s;
}

.title span:nth-child(10) {
    transition-delay: 0.54s;
}

.title span:nth-child(11) {
    transition-delay: 0.6s;
}

.title span:nth-child(12) {
    transition-delay: 0.66s;
}

.title span:nth-child(13) {
    transition-delay: 0.72s;
}




/* ぐーちょきぱー：ボタン */
.ja_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 150px;
    filter: grayscale(60%);
    transition: all 0.2s ease-in;
}

input:hover {
    transform: scale(1.5, 1.5)rotate(12deg);
    transition-duration: 0.5s;
    filter: grayscale(0%);
}


/* ど真ん中のとこ：男の子 */
.center {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.boys {
    text-align: center;
}

.aaaaa {
    width: 33%;
    font-size: 20px;
    text-align: center;
    margin-left: 80px;
}

.bbbbb {
    width: 33%;
    font-size: 20px;
    text-align: center;
    margin-right: 80px;
}

.boys img {
    width: 400px;
}

.boys div {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    font-size: 30px;
    color: black;
}

#state {
    font-size: 100px;
    background-color: rgba(243, 6, 132, 0.361);
    color: red;
}




.resetbutton {
    text-align: center;
}

.count {
    display: flex;
    justify-content: center;
    align-items: center;
}

.count_win,
.count_lose {
    margin: 30px 100px;
}